<div class="banner">
    <img style="width: 100%;" class="banner" src="..//..//..//../assets/rawMaterialGraphimages/Wooden Boards Store Header (1).png">
</div>
<div class="container-fulid mt-5">
    <div class="row mx-4 mb-5">
        <div class="col-sm-3  section">
            <div class="bulletList">
                <div class="title1">
                    <i class="fas fa-book-open"></i> Commodities Price Traking - We Serve you
                </div>
                <hr style="color: rgb(0, 0, 0);">
                <li routerLink='/rawMaterialPricesSection/dailyPrice' routerLinkActive="active"><i class="fas fa-angle-right"></i> LME commodity daily Price Updates.</li>
                <li routerLink='/rawMaterialPricesSection/cirReport' routerLinkActive="active"><i class="fas fa-angle-right"></i> Monthly CIR Report</li>
                <li routerLink='/rawMaterialPricesSection/weeklyHighlights' routerLinkActive="active"><i class="fas fa-angle-right"></i> Commodities Weekly highlights.</li>
                <li routerLink='/rawMaterialPricesSection/newLetter' routerLinkActive="active"><i class="fas fa-angle-right"></i> Commodities Quarterly Newsletter.</li>
                <li routerLink='/rawMaterialPricesSection/foreCastingReport' routerLinkActive="active"><i class="fas fa-angle-right"></i> Commodity Forecasting Report</li>
                <li routerLink='/rawMaterialPricesSection/rFQBenchMarking' routerLinkActive="active"><i class="fas fa-angle-right"></i> RFQ benchmarking.</li>
                <li routerLink='/rawMaterialPricesSection/globalImportExportData' routerLinkActive="active"><i class="fas fa-angle-right"></i> Global Import Export Data</li>
            </div>
        </div>
        <div class="col-sm-9 ">
            <router-outlet></router-outlet>
        </div>

        <!-- <div class="col-sm-6 section"></div> -->
    </div>
</div>