<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4 style="margin-top: 10%;color: #131357;font-weight: bold;">Member Login</h4>
            <div class="card">
                <form class="card-body">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" >Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button><br><br>
                    <a routerLink="/subscribe">New User</a>  &nbsp;  <a routerLink="/forget-password" style="float: right;">Forget Password</a>
                  </form>
            </div><br>
        </div>
    </div>
</div>