.card{
    box-shadow: 6px 6px 6px grey;
    background: url("../../../../assets/login_background.jpg");
    color: white;
    background-position: 0% 38%;
    
}
a{
    color: white;
}
input{
    background: transparent;
}