.commodityList{
    border: 2px solid #025b92;
  background-color: #e7e7e7;
  padding: 10px;
  // height: 100vh;
  border-radius: 5px;
  box-shadow: 3px 3px 6px grey;
}
.commodityList label{
    color: #025b92;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
.commodityList select {
  margin-top: 3px;
  font-size: 14px;
}
.commodityList input{
  font-size: 13px;
}
.commodityList option{
  // margin-top: 5px;
  padding: 5px;
  font-size: 13px;
}
.radiobtn label{
  font-size: 12px;
  margin-right: 2px;
}
.btn-warning:hover{
background-color: #7ccfff;
border-color: #7ccfff;
font-size: 16px;
font-weight: 600;
}
.btn-warning{
background-color: #417da0;
border-color: #417da0;
font-size: 16px;
font-weight: 600;
}



.card{
  box-shadow: 1px 0px 4px 0px;
}

.c-table {
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  
  
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 2px;
}

.c-table th {
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
  background: #025b92;
}

.c-table th,
.c-table td {
  padding:10px 10px;
  border: 1px solid #d9d7ce;
  column-gap: 10px;
  align-items: center;
}

.th {
  color: rgb(169, 228, 248);
  text-align: center;
}
.tableHeading{
  text-align: center;
    background: #afc6ed;
    margin-bottom: 0;
}


.table-container{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  margin-top: 40px;
}
.c-table{
line-height: 12.6px;
}
.table-head{
  background-color: #025b92;
  color: #fff;
}
.card-header{
  background-color: #025b92;
  text-align: center;
  color: #fff;
}
#canvas{
  max-height: 250px;
    width: auto;
}
.chart-body{
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-select{
  width: 100px;
}
