<!-- top carousel
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
    id="myCarousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/carousel_1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/carousel_2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/carousel_3.png" class="d-block w-100" alt="...">
        </div>
    </div>
</div> -->
  
<owl-carousel-o [options]="customOptions">
  
<ng-container *ngFor="let slide of slides">
  <ng-template carouselSlide [slides.id]="slide.id">
    <img class="img1" [src]="slide.img" >
    
  </ng-template>
</ng-container>

<!-- <ng-container *ngFor="let slide of apiData">
    <ng-template class="slide" carouselSlide [id]="slide.id">
      <img [src]="slide.url" [alt]="slide.id" [title]="slide.id">
    </ng-template>
  </ng-container> -->
  
</owl-carousel-o>

<!-- top carousel -->
<!-- welcome section -->

<div class="container" style="padding-top: 1%;">
    <div class="row">
        <div class=" col-sm-4" id="prices" style="padding-left: 0%;">
            <div class="bulletList">
                <div class="title1">
                    <i class="fas fa-book-open"></i> Commodities Price Traking - We Serve you
                </div>
                <hr style="color: rgb(0, 0, 0);">
                <ul>
                    <li><i class="fas fa-angle-right"></i> LME commodity daily Price Updates.</li>
                    <li><i class="fas fa-angle-right"></i> Monthly CIR Report</li>
                    <li><i class="fas fa-angle-right"></i> Commodities Weekly highlights.</li>
                    <li><i class="fas fa-angle-right"></i> Commodities Quarterly Newsletter.</li>
                    <li><i class="fas fa-angle-right"></i> Commodity Forecasting Report</li>
                    <li><i class="fas fa-angle-right"></i> RFQ benchmarking.</li>
                    <li><i class="fas fa-angle-right"></i> Online Web Access</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 content">
            <div class="welcome">
                <h1>Welcome to<span style="color:rgb(127, 96, 155);"> Commodity</span><span
                        style="color: brown;">Masters</span>...
                </h1>
            </div>

            <img class="image" src="../../../../assets/paraPic.png" width="230px" height="150px">
            <p>We provide our clients with reliable data, forecasts, analysis of key commodities, raw material price
                tracking, spend analysis, sourcing services and designing best-in-class procurement processes that
                revolves around profitability for you to help make sound business decisions. Our reports feature the
                Consensus Forecast (mean average), along with best- and worst-case scenarios. Find out how
                CommodityMaster Consensus Forecast reports can help you meet your business goals.
                We provide daily commodity updates, weekly highlights, and quarterly newsletters. The interactive
                commodity graphs makes it easier for an assured business decision. These forecasts are corroborated and
                analyzed by our in-house team of economists and complemented with brief commentaries on the latest
                economic trends.</p>
        </div>

    </div>
</div>
<!-- welcome section -->




<!-- tracker section  -->
<div class="container" id="tracker">
    <div class="row">
        <h2 style="font-weight: bold; color: #131357;">We Are Tracking Global Commodities</h2><br><br><br><br>
        <!-- <div class="cards-group">
                <div class="cards-columns">
                <ng-container *ngFor="let item of alldata">
                    <div *ngIf="item?.commodity_type.length > 1" class="card mb-2 d-inline-block">
                        <div class="card-header text-white" style="background: #025b92;">
                            <h3 class="m-0 p-0">{{item?.head}} <span *ngIf="item?.head == 'Chemical'">China</span></h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li *ngFor="let item2 of item.commodity_type">
                                    {{item2?.type}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div> -->
        <div class="card-columns">
            <div class="card-body">
                <ng-container *ngFor="let item of alldata">
                    <div *ngIf="item?.commodity_type.length > 1">
                        <h3>{{item?.head}} <span *ngIf="item?.head == 'Chemical'">China</span></h3>
                        <ul type="square">
                            <li *ngFor="let item2 of item.commodity_type">
                                {{item2?.type}}
                            </li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
       
        <hr>
    </div>
    <div class="col-4 row-2 text-center">
        <h3 id="wrapperhead" style="border-radius: 50px;">Our Estemmed Clients.
        </h3>
        <div class='wrapper'>
            <div class='carousel'>
                <div class='carousel__item'>
                    <div class='carousel__item-head'>
                        <img src="../../../../assets/Aerospace logo.png" alt="" height="100%" width="100%">
                    </div>
                    <div class='carousel__item-body'>
                        <p class='title'>Aerospace Industries</p>
                    </div>
                </div>
                <div class='carousel__item'>
                    <div class='carousel__item-head'>
                        <img src="../../../../assets/Electrical_logo.png" alt="" height="100%" width="100%">
                    </div>
                    <div class='carousel__item-body'>
                        <p class='title'>Electrical Industries</p>
                    </div>
                </div>
                <div class='carousel__item'>
                    <div class='carousel__item-head'>
                        <img src="../../../../assets/Automotive_logo.png" alt="" height="100%" width="100%">
                    </div>
                    <div class='carousel__item-body'>
                        <p class='title'>Automotive Industries</p>
                    </div>
                </div>
                <div class='carousel__item'>
                    <div class='carousel__item-head'>
                        <img src="../../../../assets/O&G_logo.png" alt="" height="100%" width="100%">
                    </div>
                    <div class='carousel__item-body'>
                        <p class='title'>Oil & Gas Industries</p>
                    </div>
                </div>
                <div class='carousel__item'>
                    <div class='carousel__item-head'>
                        <img src="../../../../assets/Energy_logo.png" alt="" height="100%" width="100%">
                    </div>
                    <div class='carousel__item-body'>
                        <p class='title'>Energy</p>
                    </div>
                </div>
                <div class='carousel__item'>
                    <div class='carousel__item-head'>
                        <img src="../../../../assets/Contruction_logo.png" alt="" height="100%" width="100%">
                    </div>
                    <div class='carousel__item-body'>
                        <p class='title'>Construction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tracker section -->

<!-- Benefits Section -->
<br><br>
<div class="container" id="benefits" style="margin-bottom: 1%; margin-top:-2%;">
    <div class="row" id="benefitsrow">
        <h2 style="color:white;text-align: center;margin-top: 1%;">WHY CHOOSE US
            <hr style="width:28%; margin-left: 36%;margin-top:0%;">
        </h2> <br><br><br><br>
        <div class="col-sm-4 col-lg-4 ">
            <div class="card" style="width: 18rem;">
                <div class="cardtop">
                    <img class="card-img-top" src="../../../../assets/market_research.png" alt="Card image cap">
                    <hr style="margin-bottom: 0%;">
                </div>

                <div class="card-body">
                    <h3 style="font-size: 25px;">Markets Research</h3>
                    <p class="card-text">We provide market research services to deliver the report with processed
                        information and provide the management with relevant, accurate information of
                        commodity prices, predictions, demand and supply forecast that can be used by the clients in
                        order to make real-world decisions and bring improvement in any aspect.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 ">
            <div class="card" style="width: 18rem;">
                <div class="cardtop">
                    <img class="card-img-top" src="../../../../assets/customized_services.png" alt="Card image cap">
                    <hr style="margin-bottom: 0%;">
                </div>

                <div class="card-body">
                    <h3 style="font-size: 25px;">Customized Service</h3>
                    <p class="card-text">Customized solutions that we provide at Commodity Masters are centred on the
                        client requirement. We provide trade statistics, including tariff commodity codes, to stay
                        abreast of changing policies.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 ">
            <div class="card" style="width: 18rem;">
                <div class="cardtop">
                    <img class="card-img-top" src="../../../../assets/Analysis_forecasting.png" alt="Card image cap"
                        style="border: 5px solid rgb(80, 78, 78);">
                    <hr style="margin-bottom: 0%;">
                </div>
                <div class="card-body">
                    <h3 style="font-size: 25px;">Analysis & Forecasting </h3>
                    <p class="card-text">Build credible predictive models and make forecasts based on 20+ years of data.
                        Easily find comprehensive import-export data, including port and transportation mode for many
                        countries.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Benefits Section -->