<div class="container"><br>
    <div class="row">
        <div class="col-sm-12">
            <h3>Spend Analysis</h3>
            <p>
                Spend analysis is the practice of reviewing procurement spend data to decrease costs, increase
                efficiency or improve supplier relationships. Procurement spend analytics is the process to collect,
                cleanse, classify and analize spend data.
                Spend analytics is one of the key tools that COMMODITYMasters use to proactively identify savings
                opportunities, manage risks and optimize their organization's buying power. It is often regarded as the
                fundamental foundation of sourcing. It is a tool that sourcing executives can utilize to engineer
                superior performance. Data from spend analysis can improve visibility into corporate spend, as well as
                drive performance improvement, contract compliance, and most importantly, cost savings.

            </p>
            
        </div>
        <img src="../../../../assets/spend_analysis.png" alt="" >
    </div><hr>

    <div class="row">
        <div class="col-sm-6">
            <h3>WHY SPEND ANALYSIS</h3>
            <p>
                <span style="font-weight: bold;">Benefits:</span><br>
                Spend analysis offers procurement organizations a number of key benefits, including ways to:
            </p>
                <ul>
                    <li>Achieve full visibility on procurement spend.</li>
                    <li>Identify savings opportunities and realize incremental savings.</li>
                    <li>Align and streamline procurement processes across business units.</li>
                    <li>Manage risk and maverick spending to ensure compliance.</li>
                    <li>Evaluate supplier performance for better relationship management.</li>
                    <li>Benchmark performance internally or with peers.</li>
                    <li>Do data-driven strategic sourcing.</li>
                    <li>Work collaboratively with other organizations.</li>
                </ul>

        </div>
        <div class="col-sm-6">
            <img src="../../../../assets/why_spend-analysis.png" alt="" width="100%">
        </div>
    </div><hr>

    <div class="row">
        <div class="col-sm-12">
            <h3>How businesses can benefit from spend analysis?</h3>
            <p>
                Owing to all its benefits, spend analysis has become a key priority for procurement teams. Foremost,
                spend analysis can help improve performance by enabling teams to prioritize important things and deploy
                resources more efficiently. Spend analysis can also provide key insights for the forecasting and
                budgeting process. It can minimize maverick buying, identify price arbitrages, and improve data quality.
                Procurement spend analysis can help organizations manage risks better, develop a dynamic supplier base,
                and minimize supply chain disturbances. In all, spend analysis is much more than just about saving
                short-term costs. If implemented right, it can make a big difference in the company's long-term growth
                and prosperity.

            </p>
        </div>
        <div class="col-sm-9">
            <img src="../../../../assets/benefits_spend_analysis.png" alt="" width="100%">
        </div>
    </div>
</div><br>