<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <div class="container1">
    <div align="right">
        <button id="download" (click)="captureScreen()" >downLoad</button>
    </div>
    <div class="header" id="contentToConvert">
        <div class="heading">
            <h1 class="">Gsc Team Commodity NewLetter</h1>
        </div>
        <div class="m-5 row" >
         <div class="col-6">
            <p>
                Brazilian GDP in 2021 is expected to increase by 5.3% thanks to the continuous consumer spending, while
                2022 forecasts a slowdown with GDP dipping to 1.5%, mainly due to the higher inflation and interest
                rates, curtailing jobs and consumer spending. The governmental financial assistance to distressed
                families, in place since Covid emergency, will also be reduced in 2022.To be noted that 2022 will be an
                election year for president, state governors and senators, with all eyes on possible results and
                influences on the economy and the daily lives of the population.
            </p>
         </div>
         <div class="col-6">
            <p>
                Brazilian GDP in 2021 is expected to increase by 5.3% thanks to the continuous consumer spending, while
                2022 forecasts a slowdown with GDP dipping to 1.5%, mainly due to the higher inflation and interest
                rates, curtailing jobs and consumer spending. The governmental financial assistance to distressed
                families, in place since Covid emergency, will also be reduced in 2022.To be noted that 2022 will be an
                election year for president, state governors and senators, with all eyes on possible results and
                influences on the economy and the daily lives of the population.
            </p>
         </div>
        </div>
    </div>
</div> 
 -->
<div class="newLetterCard">
    <h1 class="tableHead">Quarterly-NewLetter</h1>
    <div  class="newLetters">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">
                        <select name="" id="">
                            <option value="">2021</option>
                            <option value="">2020</option>
                            <option value="">2019</option>
                            <option value="">2018</option>
                            <option value="">2017</option>
                            <option value="">2016</option>
                            <option value="">2015</option>
                            <option value="">2014</option>
                            <option value="">2013</option>
                            <option value="">2012</option>
                            <option value="">2011</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <td>
                    <table class="table border text-center">
                        <thead>
                            <tr>
                                <th>Jan-Mar</th>
                                <th>Apr-May</th>
                                <th>Jun-Sep</th>
                                <th>Oct-Dec</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td (click)="openPDF('q1')"><img class="newletter" src="assets/QuarterlyNewLetterImg/q1.png" ></td>
                                <td (click)="openPDF('q2')"><img class="newletter" src="assets/QuarterlyNewLetterImg/q2.png" ></td>
                                <td (click)="openPDF('q3')"><img class="newletter" src="assets/QuarterlyNewLetterImg/q2.png" ></td>
                                <td (click)="openPDF('q4')"><img class="newletter" src="assets/QuarterlyNewLetterImg/q1.png" ></td>
                            </tr>
                        </tbody>
                    </table>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title m-0" id="myModalLabel"><b>NEW LETTER</b></h4>
              <button type="button" class="close btn-primary" (click)="closeModal();" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
                <!-- <object type="application/pdf" data={{pdfName}}></object> -->
                <object #pdfobject> </object>
                <!-- <object type="application/pdf" data="assets/{{pdfName}}.pdf"></object> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeModal();">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
</div>