<div class="center">
    <div class="row admincard">
        <div class="col-6 text-center py-5" style="color: rgb(0, 0, 0); background-color: #ff865b;">
            <div>
                <h1>WelCome To ADMIN</h1>
            </div>
            <!-- <div class="social">
                <i class="bi bi-twitter" ></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-facebook"></i>
            </div> -->
        </div>
        <div class="col-6  py-5">
            <h1>SignIn</h1>
            <label for="">UserName</label>
            <input type="text" class="form-control my-2">
            <label for="">Password</label>
            <input type="text" class="form-control my-2">
            <div class="text-center">
                <button class="btn btn-danger w-50 rounded my-3">SingIn</button>
            </div>
        </div>
    </div>
</div>
