
<br />
<div class="row">
    <div class="col">

    </div>
  <div class="col-4 bg-secondary list">
      <div class="title">
        <span> LME Price Tracking–We serve you with</span>
      </div>
     <br />
    <div class="bullets">
      <ul>
        <li><i class="bi bi-check-lg p-2"></i>LME commodity updates daily.</li>
        <li><i class="bi bi-check-lg p-2"></i>LME commodity updates daily.</li>
        <li><i class="bi bi-check-lg p-2"></i>Weekly highlights.</li>
        <li><i class="bi bi-check-lg p-2"></i>Commodity Newsletter.</li>
        <li><i class="bi bi-check-lg p-2"></i>Interactive price graphs.</li>
        <li><i class="bi bi-check-lg p-2"></i>RFQ benchmarking.</li>
        <li><i class="bi bi-check-lg p-2"></i>Price Analysis.</li>
      </ul>
    </div>
  </div>

  <div class="col-7  paraPic">
      <div class="typewriter">
        <h1 >Welcome to Commoditymasters</h1>
      </div>
      
      <img src="../../../assets/paraPic.png" class="img-responsive  ">
    <p>
      We provide our clients with reliable data, forecasts, analysis of key
      commodities, raw material price tracking, spend analysis, sourcing
      services and designing best-in-class procurement processes that revolves
      around profitability for you to help make sound business decisions. Our
      reports feature the Consensus Forecast (mean average), along with best-
      and worst-case scenarios. Find out how CommodityMaster Consensus Forecast
      reports can help you meet your business goals. <br><br> We provide daily commodity
      updates, weekly highlights, and quarterly newsletters. The interactive
      commodity graphs makes it easier for an assured business decision. These
      forecasts are corroborated and analyzed by our in-house team of economists
      and complemented with brief commentaries on the latest economic trends.
    </p>
  </div>
</div>

