<div class="container">
    <div class="row">
        <div class="col-sm-7"><br><br>
            <h1><span
                style="color: darkblue;">SOURCING</span>&nbsp;<span style="color: maroon;">PROCESS</span></h1>
            
            <div class="row sourcingrow">

                <div class="col-sm-3 imgdiv">
                    <img src="../../../../assets/process_initiation.png" alt="" height="100%" width="100%">
                </div>
                <div class="col-sm-9 sectiondiv">
                    <h5>PROCESS INITIATION</h5>
                    <ul>
                        <li>What is the Opportunity</li>
                        <li>Identify the project stakeholder team.</li>
                        <li>Define the scope of procurement within the opportunity.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row sourcingrow" >

                <div class="col-sm-3 imgdiv">
                    <img src="../../../../assets/situation_analysis.png" alt="" height="100%" width="100%">
                </div>
                <div class="col-sm-9 sectiondiv">
                    <h5>SITUATION ANALYSIS</h5>
                    <ul>
                        <li>Identify business requirements and stakeholders concerns.</li>
                        <li>Perform spend analysis and supply market analysis.</li>
                        <li>Identify current practices regarding this opportunity</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row sourcingrow" >

                <div class="col-sm-3 imgdiv">
                    <img src="../../../../assets/statergy_creation.png" alt="" height="100%" width="100%">
                </div>
                <div class="col-sm-9 sectiondiv">
                    <h5>STRATEGY CREATION</h5>
                    <ul>
                        <li>What are the sourcing options</li>
                        <li>Develop supplier evaluation and benchmarking criteria.</li>
                        <li>Develope sourcing strategy.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row sourcingrow" >

                <div class="col-sm-3 imgdiv">
                    <img src="../../../../assets/statergy_implementation.png" alt="" height="100%" width="100%">
                </div>
                <div class="col-sm-9 sectiondiv">
                    <h5>STRATEGY IMPLEMENTATION</h5>
                    <ul>
                        <li>Supplier evaluation.</li>
                        <li>Contract negotiation and confirmation.</li>
                        <li>Approvals and contract execution.</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row sourcingrow" >

                <div class="col-sm-3 imgdiv">
                    <img src="../../../../assets/supplier_managment.png" alt="" height="100%" width="100%">
                </div>
                <div class="col-sm-9 sectiondiv">
                    <h5>SUPPLIER MANAGEMENT</h5>
                    <ul>
                        <li>Initiate supplier performance management.</li>
                        <li>Identify methods to reduce total cost of ownership.</li>
                        <li>Improve corporate responsibility.</li>
                    </ul>
                </div>
            </div><br>
        </div>
        <div class="col-sm-5" style="margin-top: 10%;">
            <h3 id="wrapperhead" style="border-radius: 25px;">Commodity Masters Sourcing Services</h3>
            <div class='wrapper'>
                <div class='carousel'>
                    <div class='carousel__item'>
                        
                        <div class='carousel__item-body'>
                            <p class='title'>Supplier Identification</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        
                        <div class='carousel__item-body'>
                            <p class='title'>Supplier Selection Audit</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        
                        <div class='carousel__item-body'>
                            <p class='title'>Price Negotiations</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        
                        <div class='carousel__item-body'>
                            <p class='title'>Supply Schedule Management</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        
                        <div class='carousel__item-body'>
                            <p class='title'>Developement Timeline Tracking</p>
                        </div>
                    </div>
                    <div class='carousel__item'>
                        
                        <div class='carousel__item-body'>
                            <p class='title'>Pre-Dispatch Inspection</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>