<div class="container  " >
    <div class="row justify-content-center ">
        <div class="col-12 col-sm-6 col-md-4 maincard" id="prices" style="padding-left: 0%;">
            <div class="bulletList">
                <div class="title1">
                    <i class="fas fa-book-open"></i> Commodities Price Traking - We Serve you
                </div>
                <hr style="color: rgb(0, 0, 0);">
                <ul>
                    <li><i class="fas fa-angle-right"></i> LME commodity daily Price Updates.</li>
                    <li><i class="fas fa-angle-right"></i> Monthly CIR Report</li>
                    <li><i class="fas fa-angle-right"></i> Commodities Weekly highlights.</li>
                    <li><i class="fas fa-angle-right"></i> Commodities Quarterly Newsletter.</li>
                    <li><i class="fas fa-angle-right"></i> Commodity Forecasting Report</li>
                    <li><i class="fas fa-angle-right"></i> RFQ benchmarking.</li>
                    <li><i class="fas fa-angle-right"></i> Online Web Access</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 maincard">
            <h4 style="margin-top: 10%;color: #131357;font-weight: bold;">Member Login</h4>
            <div class="">
                <form class="card-body">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label" >Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
                    </div>
                    <div class="text-right" align="right">
                        <button type="submit" (click)="logIn()"  class="btn btn-primary btnLogin">Login</button>
                    </div>
                    <a routerLink="/subscribe">New User</a>  &nbsp;  <a routerLink="/forget-password" style="float: right;">Forget Password</a>
                  </form>
            </div><br>
        </div>
    </div>
</div>

