#footer-section{
    position: relative;
    padding-top: 5%;
    padding-bottom: 0%;
    
    background-size: cover;
    color: #222222;
    font-family: 'Montserrat', sans-serif;

}
#footer-section h5{
    font-weight: 700;
}

#copyright-section{
    
    padding: 40px 0 20px;
}
#copyright-section p{
    text-align: right;
    font-size: 14px;
    margin-right: 6%;

}
#footer-section a{
    text-decoration: none;
    
}
#footer-section li {
    list-style: none;

}
#footer-section ul {
    padding-left: 0rem;
    text-transform:capitalize;
}
#footer-section a:hover, a:focus {
    color: #f16529;
    text-decoration: none;
    transition: all linear 0.3s;
}
.footer-cmn ul li a {
    padding: 5px 0;
    display: block;
    color: #646363;
    font-size: 14px;
    font-weight:600;

}
.footer-cmn h5 {
    margin-bottom: 19px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.footer-about p {
    font-weight: 500;
    color: darkslategrey;
    font-size: 14px;
    margin-left: 20%;
    margin-top: -9px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (max-width:500px){
    #footer{
        padding-top: 10%;
    }
}



