<!-- Footer Starts Here -->
<footer id="footer-section" style="background: url(../../../assets/footer.png); margin-bottom: 0%;background-size: cover;">
    <div class="container" id="footer">
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4" style="margin-top: -20px;">
                <div class="footer-about">
                    <a href="#" id="logo"><img src="../../../assets/logo.png" alt="" width="100%" height="100%"></a>
                    <p>Inteligence For Global Commodity Markets</p>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 col-md-6 col-lg-2">
                <div class="footer-cmn footer-menu">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Raw Material Prices</a></li>
                        <li><a href="#">Target Price Analysis</a></li>
                        <li><a href="#">Spend Analysis</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 col-md-6 col-lg-2">
                <div class="footer-cmn footer-quick-link">
                    <h5>Services</h5>
                    <ul>
                        <li><a href="#">Sourcing Services</a></li>
                        <li><a href="#">Purchase Intelligence</a></li>
                        <li><a href="#">Purchase Price Varience</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-md-6 col-lg-4">
                <div class="footer-cmn footer-quick-link">
                    <h5>Raw Material Price Tracking</h5>
                    <ul>
                        <li><a href="#">Commodities Prices and graphs</a></li>
                        <li><a href="#">Commodities Weekly highlights</a></li>
                        <li><a href="#">Commodities Quarterly Newsletter</a></li>
                        <li><a href="#">Commodities Prediction</a></li>
                    </ul>
                </div>
            </div>
            <div id="copyright-section">
                <p> &copy; Copyrights Reserved by
                    <a href="#" style="font-weight: bolder; font-size:medium; "><span
                            style="color: darkblue;">Commodity</span><span style="color: maroon;">Masters</span></a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Ends -->