<div class="row" id="purchasepirce"
    style="color: white;text-align: center;background-image: url(../../../../assets/purchase_price_background.jpg);background-size: cover;height:290px;width: 100%; margin-left: 0%;">
    <div class="head">
        <h1 style="font-weight: 700;">Purchase Intelligence</h1><br>
        <p>Purchase Intelligence from Commodity Masters delivers you insight into categories and <br> markets to enable
            effective procurement decisions.</p>
    </div>

</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5>Purchase Intelligence:</h5>
            <p>COMMODITYMasters provide a wide portfolio of procurement services to suit the exact needs of our clients:
            </p>
            <hr>
            <h5>Intelligence:</h5>
            <p>market intelligence, supplier intelligence, sourcing intelligence, pricing intelligence, procurement
                intelligence, competitive market intelligence.</p>
                <hr>
            <h5>Risk:</h5>
            <p>supplier/supply chain risk assessment and risk analysis.</p><hr>
            <h5>Category:</h5>
            <p>category market intelligence, category plan development, indirect sourcing roadmap development.</p><hr>
            <h5>Benchmarking:</h5>
            <p>supplier benchmarking, price benchmarking, spend benchmarking, procurement benchmarking, deal
                benchmarking, negotiation benchmarking, contracting benchmarking.</p>
        </div>
        <div class="col-sm-6">
            <img src="../../../../assets/purchase_intelligence.png" alt="" style="padding-top: 25%;" width="100%">
        </div>
    </div><br>

    <div class="row">
        <div class="col-sm-6">
            <h4>Benefits:</h4>
            <img src="../../../../assets/source_benefits.png" alt="" width="100%">
        </div>
    </div>
</div>

